<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Descubra o Vale</title>
    <link rel="stylesheet" href="../../public/css/style.css" />
</head>

<body>

    <header class="mac-navbar">
        <div class="mac-container">
            <!-- Ícone no canto esquerdo -->
            <div class="mac-icon">
                <img src="../../public/img/logo1.png" alt="Ícone" />
            </div>
            <!-- Menu centralizado -->
            <nav class="mac-menu">
                <a href="../../view/menu/menu.html">Início</a>
                <a href="../../view/cidades/cidades.html">Cidades</a>
                <a href="../../model/calcular/calcular.html">Comparar</a>
                <a href="../../view/map/map.html">Mapa</a>
                <a href="../../view/historia/altovale.html">O Alto Vale do Itajaí</a>
                <a href="#contato">Contato</a>
                <a href="#mapa">Login</a>
            </nav>
        </div>
    </header>
    <main class="content">
        <h1>Bem-vindo ao Alto Vale do Itajaí</h1>
        <p>Explore as cidades, compare dados e descubra onde você gostaria de viver.</p>
    </main>


    <script src="script.js"></script>
</body>

</html>
